.my_portfolio_admin{
    position: relative;
    padding-top: 2rem;
}

.my_portfolio_admin{
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: all 0.3s ease-in-out;
    }
}

.btn{
    padding: 0.25rem 0.5rem;
}

.nav-item{
    cursor: pointer;
}

// -----------------------------NAV bar-------------------------------------
.my_portfolio_admin_navbar {
    position: relative;
    .navbar_box{
        display: grid;
        grid-template-columns: 225px auto;
        width: 100%;
        .nav-item{
            padding: 0.25rem 1rem;
        }
        .navbar-column.left{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-right: 1px solid;

            .navbar-brand{
                .navbar-brand-logo-box{
                    width: 80px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h4{
                    white-space: pre-wrap;
                }

                @media screen and (max-width: 320px){
                    .navbar-brand-logo-box{
                        width: 60px;
                    }
                }

                @media screen and (max-width: 320px){
                    h4{
                        font-size: 18px;
                        white-space: pre-wrap;
                    }
                }

            }
        }
        .navbar-column.right{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            .my-portfolio-nav-box{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .my_portfolio_dropdown{
                    position: relative;
                    .dropdown-toggle{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: row;
                    }
                    .my_portfolio_dropdown_menu{
                      position: absolute;
                      right: 0;
                      top: 160%;
                      z-index: 999;
                      width: 100%;
                      min-width: 120px;
                      margin: 0;
                      padding: 0;
                      display: none;
                      li.dropdown-item{
                        padding: 0.25rem 1rem;
                        margin-bottom: 0.5rem;
                        a{
                          text-decoration: none;
                        }
                      }
                      .my_portfolio_dropdown_divider{
                        height: 0.25px;
                      }
                    }
                    .my_portfolio_dropdown_menu.drop-down{
                      display: block;
                    }
                }

                .my_portfolio_dropdown.theme-mode, .my_portfolio_dropdown.user{
                    margin-left: 1rem;
                }
            }
            .search-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                margin: 0 1rem;
                cursor: pointer;
            }
            .search{
                display: none;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .navbar_box{
            grid-template-columns:30% auto;
        }
    }

    @media screen and (min-width: 992px){
        .navbar_box{
            grid-template-columns:20% auto;
            .navbar-column.left{
               
            }
            .navbar-column.right{
                
                .search-icon{
                    display: none;
                 }
                
                .search{
                    display: block;
                }
            
            }
        }
    }

    @media screen and (max-width: 991.9px) {
        .navbar_box{
            .navbar-column.left{
               
            }
            .navbar-column.right{ 
                @keyframes searchDropDown {
                    0%{ opacity: 0; height: 0}
                    100%{ opacity: 1; height: 300px;}
                }     
                .search.display-search{
                    position: absolute;
                    right: 0;
                    top: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 999;
                    form{
                        max-width: 500px;
                    }
                    margin: 0;
                    height: 300px;
                    animation: searchDropDown 0.5s ease-in-out;
                }
            }
        }
    } 

    @media screen and (max-width: 767.9px) {
        .navbar_box{
            grid-template-columns: 30% auto;   
            .navbar-column.right{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .my-portfolio-nav-box{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .my_portfolio_dropdown.theme-mode, .my_portfolio_dropdown.user{
                        margin-left: auto;
                    }
                }
            }
            
        }
    } 
    
    @media screen and (max-width: 575.9px){
        .navbar_box{
            grid-template-columns: 30% auto; 
            .nav-item{
                padding: 0.25rem;
            }
            .navbar-column.left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }  
            .navbar-column.right{
                flex-direction: row;
                align-items: flex-end;
                .my-portfolio-nav-box{
                    width: auto;
                    flex-direction: column;
                    align-items: flex-end;
                    .my_portfolio_dropdown{
                        position: static !important;
                        .my_portfolio_dropdown_menu{
                            top: 110%;
                            right: 0.25rem;
                            width: fit-content;
                            padding: 0 0.5rem;
                          }
                    }
                }

                .my-portfolio-notification-box{
                    width: fit-content;
                }
            }
            
        }
    }

    @media screen and (max-width: 310px){
        .navbar_box{
            grid-template-columns: 30% auto; 
            .navbar-column.left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }  
            .navbar-column.right{
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                .search-icon{
                    align-items: flex-end;
                    justify-content: flex-end;
                    width: fit-content;
                    margin: 0;
                    margin-bottom: 1rem;
                 }
                .my-portfolio-nav-box{
                    flex-direction: column;
                    align-items: flex-end;
                    .my_portfolio_dropdown.theme-mode{
                        margin-left: auto;
                    }
                }
            }
            
        }
    }

    
}

.my_portfolio_admin_navbar .sidebar-toggler{
    width: 40px;
    height: 40px;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.my_portfolio_admin_navbar .sidebar-toggler span{
    font-size: 30px;
}

// -----------------------------SideBar-------------------------------------
.admin-column.side-bar{
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
    overflow: auto;
    z-index: 999;
    height: calc(100vh - 5rem);
    max-width: 250px;
    padding-right: 0.5rem;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0rem !important;
    .my_portfolio_admin_sidebar{
        padding: 0 0.5rem;
        height: 100%;
        a{
            text-decoration: none;
        }
        .sidebar-box{
            margin-bottom: 1rem;
            .sidebar-item-box{
                margin-bottom: 1.5rem;
                .sidebar-item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding: 0.25rem 0;
                    .item-signal{
                        transition: all 0.4s ease-in-out;
                    }
                    .item-signal.show{
                        transform: rotate(180deg);
                    }
                }
                .sub-sidebar-item{  
                    opacity: 0;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
                    .item{
                        padding: 0.25rem 0 0.25rem 2.5rem;
                        margin-bottom: 0.5rem;
                        cursor: pointer;
                    }
                    .item:first-of-type{
                        margin-top: 0.75rem;
                    }
                    .item:last-of-type{
                        margin-bottom: 0.5rem;
                    }
                }
                .sub-sidebar-item.active{
                    opacity: 1;
                }
            }
        }
        .my_portfolio_admin_divider{
            display: flex;
            align-items: center;
            padding: 1rem 0 1rem 0;
            .line{
                height: 0.1px;
            }
        }
        
    }
}
// -----------------------------Content-------------------------------------
.admin-column.content{
    width: 100%; 
    height: calc(100%);
    .my_portfolio_admin_content{
        
        .wrapper{
            width: 100%; 
            .card{
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 767.9px) {

    .my_portfolio_admin{
        .admin-column.side-bar{
            position:fixed;
            left: 0;
            top: 4rem;
            z-index: 999;
        }
        .admin-column.side-bar.hide-side-bar{
            transform: translateX(-150%);
        }
        .content{
            .my_portfolio_admin_content{
                padding:0;
            } 
        }
    }

} 

@media screen and (max-width: 575.9px){
    .my_portfolio_admin{
        .admin-column.side-bar{
            top: 6rem;
            height: calc(100vh - 8rem);
        }
    }

}

@media screen and (max-width: 310px){
    .my_portfolio_admin{
        .admin-column.side-bar{
            top: 8rem;
        }
    }

}


@media screen and (min-width: 768px) 
{
    .my_portfolio_admin{
        .admin-column.side-bar{
            transform: translateX(0%);
            margin-right: 1rem;
            width: 30%;
        }
        .admin-column.content{
            width: 70%; 
        }
    }

    .my_portfolio_admin.hide-side-bar{
        .admin-column.side-bar{
            position: absolute;
            transform: translateX(-300%);
        }
        .admin-column.content{
            min-width: 100%; 
        }
    }

    .search{
        margin-left: 1rem;
    }

}

@media screen and (min-width: 992px) 
{
    .my_portfolio_admin{
        .container{
            .admin-column.side-bar{
                margin-right: 2rem;
                width: 20%;
            }
            .admin-column.content{
                width: 80%;
            }
        }
      
    }

    .search{
        margin-left: 3rem;
    }
}


